<html>
<head>
  <title>ToDo Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
   <%=render('layouts/header')%>




</div>
<div class="container">

        <%= yield %>
</div>

<center><%= "Copyright 2015 - ToDo Application"%></center>
<center><%= "Made with â¤ in India!" %><br>
  <!-- hitwebcounter Code START -->
  <!-- hitwebcounter Code START -->
  <a href="/" target="_blank">
  <img src="http://hitwebcounter.com/counter/counter.php?page=6202799&style=0013&nbdigits=8&type=ip&initCount=0" title="web page hit counters codes Free" Alt="web page hit counters codes Free"   border="0" >
  </a>                                        <br/>
                                          <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title=""
                                          target="_blank" style="font-family: Arial, Helvetica, sans-serif;
                                          font-size: 11px; color: #758087; text-decoration: none ;"><strong>Measure Website Visitors                                        </strong>
                                          </a>


</body>
</html>
